
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

.header-nambers {
  position: relative;
  border-left: 2px solid #e8bf5d;
  max-width: 785px;
  width: 100%;
  padding-left: 15px;
}

.header-nambers:after {
  position: absolute;
  content: '01';
  font-size: 195px;
  font-weight: 400;
  top: -55px;
  color: rgba(17, 17, 17, 0.05);
  font-family: "Open Sans", sans-serif;
}

.title-black {
  color: #111111;
  font-family: "Playfair Display",sans-serif;
  font-size: 31px;
  font-weight: 400;
  margin: 0 0 25px;
}

.title-white {
  color: #ffffff;
  font-family: "Playfair Display",sans-serif;
  font-size: 31px;
  font-weight: 400;
  margin: 0 0 25px;
}

/*....................................header*/
h1 a {
  color: #111111;
  font-size: 25px;
  font-weight: 700;
  line-height: 45px;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
}


.header {
  background: #EDEFF1;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  padding: 15px;
  text-decoration: none;
  color: #111111;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
}

.nav {
  display: inline-block;
  margin: 30px 0;
}

.nav a:hover {
  border-bottom: 5px solid #e8bf5d;
}

/*...............................main*/

main {
  background: url(../img/main-foto.png) 50% 50% no-repeat;
  width: 100%;
  height: 840px;
  margin: 0 auto;
  position: relative;
}
.container-main {
  position: absolute;
  left: 50px;
  bottom: 135px;
  width: 100%;
}

.center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-main a {
  color: #111111;
  font-family: "Playfair Display", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 25px;
  background-color: #e8bf5d;
  padding: 15px 50px;
  display: inline-block;
}

.header-main {
  border-left: 3px solid #e8bf5d;
  padding-left: 20px;
}

.container-main h2 {
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
  font-size: 65px;
  font-weight: 400;
}

.container-main span {
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  line-height: 45px;
  font-size: 31px;
}

/*...................................section  about-us*/

.about-us {
  padding: 90px 0;
}

.text-about-us {
  color: #666666;
  font-family: "Playfair Display",sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5;
}

.header-history, .header-expertise  {
  color: #111111;
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  font-weight: 400;
  margin: 50px 0 30px;
}

.year {
  color: #111111;
  font-family: "Open Sans",sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.5;
}

.history, .expertise {
  max-width: 560px;
  width: 100%;
}

.block {
  display: flex;
  justify-content: space-between;
}

.history-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-history {
  color: #111111;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 60px;
}

.text-expertise {
  color: #666666;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 3;
  letter-spacing: 0.56px;
}

/*............................................section practis-area*/


.practis-area .header-nambers:after {
  content: "02";
  color: rgba(255, 255, 255, 0.05);
}

.practis-area .block {
  display: flex;
  justify-content: flex-end;
}

.practis-area .block-mini {
  margin-top: 80px;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.practis-area {
  background-color: #111111;
  padding: 90px 0;
}

.text-practis-area {
  color: #b9b9b9;
  font-family: "Playfair Display",sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5;
}

.text-box {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
  line-height: 2;
}

.box {
  max-width: 450px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.practis-area .box-mini {
  margin:0 0 50px 20px;
  max-width: 360px;
  width: 100%;
}

.header-practis-area {
  color: #ffffff;
  font-family: "Playfair Display",sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5;
}

/*................................section meet-our-attorney*/

.meet-our-attorney .header-nambers:after {
  content: "03";
}

.meet-our-attorney {
  padding: 90px 0;
}

.meet-container {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

.header-meet-our-attorney {
  padding-top: 15px;
  color: #111111;
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5;
}

.meet-container span{
  color: #666666;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 400
}

/*.........................................our-clients-say*/

.our-clients-say {
  background: url(../img/clients-bg.png) 50% 50% no-repeat;
  padding: 90px 0;
}

.our-clients-say .header-nambers:after {
  content: "04";
  color: rgba(255, 255, 255, 0.05);
}

.box-our-clients {
  margin-top: 100px;
  position: relative;
}

.client-photo{
  position: absolute;
  top: -20px;
  left: -20px;
}

.our-clients {
  display: flex;
}

.description {
  margin-left: 70px;
  max-width: 600px;
}

.header-our-clients {
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 31px;
  padding: 15px 0 5px;
}

.our-clients span {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/*..........................recent-publications.*/

.recent-publications {
  padding: 90px 0;
}

.recent-publications .header-nambers:after {
  content: "05";
}

.box-publications {
  max-width: 370px;
  border-bottom: 3px solid #e8bf5d;
  padding: 40px 0 20px;
}

.box-recent-publications {
  display: flex;
  justify-content: space-between;
}

.header-box-publications {
  color: #111111;
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5;
}

.box-publications span {
  color: #666666;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

.box-mini {
  display: flex;
  justify-content: space-between;
}

.recent-publications .text-box {
  color: #666666;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
}

.box-mini a {
  text-decoration: none;
  color: #111111;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}

.text-box-mini {
  color: #111111;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}